.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.hidden {
  transform: translateY(-100%);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.btn {
  padding: 0px 10px;
}
.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
.hiddenText {
  opacity: 0;
}
.consoleContainer {
  text-align: center;
  align-content: center;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.consoleUnderscore {
  display: inline-block;
}
