.mycard{
    /* background-color: aqua !important;
    color: black !important; */
}

.mycardtitle{
    /* background-color: blue; */
}


.mytitle{
    padding: 10px !important;
}

.example{
    color: black;
}