.main{
    width: 100%;
    min-height: 100vh;
    padding-top: 10px;
    display: flex;
}
.main p{
    margin: 10px;
    text-align: justify;
    
}
.Habilities{
    width: 100%;
}
.description{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
